* {
  --background-color: #10181E;
  --background-blue: #23334b;
  --background-dark-color: #162030;
  --blue: #19B0E3;
  --text-color: white;
  --red: #A52A2A;
  --lateral-margins: 5vw;
  --max-width: calc(100vw - calc(var(--lateral-margins) * 2));

}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1{
  margin: 4rem;
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

#section {
  width: var(--max-width);
  margin: auto;
  background-color: var(--background-dark-color);
  border-radius: 6px;
  padding: 1.5rem;
  box-shadow: -2px 2px 8px 0px #0f0f0f;
}

.note-wrapper {
  display: flex;
  flex-flow: row wrap;
  /* le damos un ancho y el resto para el aside  ademas ponemos el grow a 1 para que ocupe todo lo que pueda*/
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.note {
  padding: 2rem;
  gap: 1.5rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 10rem;
  background-color: var(--background-blue);
  border-radius: 6px;
  box-shadow: -2px 2px 8px 0px #10181E;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color:#117ca049;
}

.props{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 0.5rem;
}

button {
  padding: 10px;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
}

button:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: -2px 2px 8px 0px #161616ab;
}

button.blue {
  background-color: var(--blue);
  border: 2px solid #107394;
}
button.red {
  background-color: var(--red);
  border: 2px solid #611919;
}

button.add {
  background-color: var(--red);
  width: 3.2rem;
  border: 2px solid #611919;
  font-size: 1.3rem;
}

.note-form {
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
  margin: auto;
  padding: 1rem;
  background-color: var(--background-blue);
  border-radius: 6px;
  box-shadow: -2px 2px 8px 0px #0f0f0f;
  border-top: 1px solid;
  border-right: 1px solid;
  border-color:#117ca049;
}

.field{
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 1rem;
}

#title{
  height: 2rem;
}
#content{
  height: 7rem;
}