* {
  --background-color: #10181E;
  --background-blue: #23334b;
  --background-dark-color: #162030;
  --blue: #19B0E3;
  --text-color: white;
  --red: #A52A2A;

  --lateral-margins: 5vw;
  --max-width: calc(100vw - calc(var(--lateral-margins) * 2));

}

html, body {
  background-color: var(--background-color);
  color: var(--text-color);
}

h1{
  margin: 4rem;
  text-align: center;
}

* {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

section#note-section {
  width: var(--max-width);
  margin: auto;
  background-color: var(--background-dark-color);
  border-radius: 6px;
  padding: 1rem;
  box-shadow: -2px 2px 8px 0px #0f0f0f;
}

.note-wrapper {
  display: flex;
  flex-flow: row wrap;
  /* le damos un ancho y el resto para el aside  ademas ponemos el grow a 1 para que ocupe todo lo que pueda*/
  flex-grow: 1;
  justify-content: center;
  margin-bottom: 1rem;
  gap: 2rem;
}

.note {
  padding: 2rem;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 10rem;
  background-color: var(--background-blue);
  border-radius: 6px;
  box-shadow: -2px 2px 8px 0px #10181E;
}

.note .props{
  vertical-align: bottom;
}

button {
  padding: 10px;
  font-weight: 600;
  margin-right: 0.2rem;
  font-size: 1rem;
  color: white;
  border-radius: 6px;
}
button:hover {
  cursor: pointer;
  filter: brightness(120%);
  box-shadow: -2px 2px 8px 0px #161616ab;
}

button.blue {
  background-color: var(--blue);
  border: 2px solid #107394;
}
button.red {
  background-color: var(--red);
  border: 2px solid #611919;
}

button.add {
  background-color: var(--red);
  width: 3.2rem;
  border: 2px solid #611919;
  font-size: 1.3rem;
}

.note-form {
  padding: 8rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;  
  position: relative;
}

.note-form .field {
  width: 40rem;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.note-form .field .label {
  width: 8rem;
}