.cuerpo {
  display: grid;
  place-content: center;
  margin: 1rem;
}

.container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
  /* le damos un ancho y el resto para el aside  ademas ponemos el grow a 1 para que ocupe todo lo que pueda*/
  flex-grow: 1;
}

.botones{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  gap: 0.5rem;
}

.FormPonentes{
  display: grid;
  place-content: center;
}

.botonAñadir{
  font-size: 1.5rem;
  font-weight: bold;
  background-color: brown;
  border-color: rgb(92, 24, 24);
  width: 80px;
}

.botonEliminar{
  background-color: brown;
  border-color: rgb(92, 24, 24);
}